body {
    font-family: 'Chakra Petch', sans-serif;
}

h1, h2, h3 {
    font-family: 'Changa', sans-serif;
}

.jumbotron {
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to right, #143465, #171d3b, #082b8c);
    color: white;
  }

.navbar {
    background-color: rgb(0, 0, 0);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
  }

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.carousel {
    border: solid #5637dd;
  }
  
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
  }